---
import Link from "@components/Link.astro";
import BaseLayout from "@layouts/baseLayout.astro";
---

<BaseLayout title="Page not found" description="page not found">
	<div class="container" style={{
        display: "grid",
        placeItems: "center",
        textAlighn: "center",
        gap: "var(--space-sm)"
    }}>
        <h1 class="h3">Werid, how did you get to this page? it does not exist!</h1>
        <Link href="/" style="secondary" text="Go home" icon={{
            name: "tabler:home",side: "right"
        }} />
    </div>
</BaseLayout>